.my-4 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}
.notfy-card.notify {
  border-left: 6px solid #00956e;
}

.notfy-card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 14px;
  gap: 1em;
}
.flex-column {
  flex-direction: column !important;
}
.mb-4 {
  margin-bottom: 1rem !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.d-flex {
  display: flex !important;
}
.notfy-card .header {
  color: #767676;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  min-height: 45px !important;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: default;
  font-family: "Poppins", sans-serif;
}
.notfy-card.notify .type {
  color: #00956e;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Poppins", sans-serif;
  cursor: default;
}
.notfy-card .date {
  color: #9397a0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  cursor: default;
}
.notfy-card span.read-more {
  cursor: pointer !important;
  font-family: "Poppins", sans-serif;
}

.notfy-card span {
  color: #9397a0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: default;
}
.notfy-card .date:before {
  content: url("https://tobeto.com/_next/static/media/noty-date.c4b4d342.svg");
  margin-right: 6px;
}
.showMoreBtn {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: #828282;
  cursor: pointer;
  text-decoration: none;
}
.showMoreBtn:before {
  content: "";
  background-image: url("https://tobeto.com/_next/static/media/showMore.f5ba3f81.svg");
  background-repeat: no-repeat;
  background-size: 4em 4em;
  width: 4em;
  height: 4em;
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}
