.skill-card {
  position: relative;
  padding: 20px;
  box-shadow: 0 10px 24px 0 hsla(0, 0%, 9%, 0.05);
  border-radius: 14px;
  transition: 0.5s;
}

.skill-card:hover {
  scale: 1.02;
}

.skill-delete-button::after {
  content: url(../../..//icons/delete_FILL0.svg);
  background-color: #fc6d6d;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  width: 1.8em;
  height: 1.8em;
  padding-top: 6px;
  right: -10px;
  bottom: 18px;
}
