.experiences-card {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 24px 0 hsla(0, 0%, 9%, 0.05);
  padding: 12px;
  transition: 0.5s;
}

.experiences-card:hover {
  scale: 1.04;
}

.experiences-card-header span {
  color: #9933ff;
  font-size: small;
  margin-top: 2px;
}

.date {
  display: flex;
}

.date::before {
  content: url(../../../../icons/calendar_month_FILL0.svg);
  margin-right: 5px;
}

.experiences-card-detail-col {
  display: flex;
  flex-direction: column;

  min-width: 200px;
}

.experiences-card-detail-header {
  color: gray;
}

.experiences-card-detail-content {
  font-weight: bolder;
}

.experiences-card-delete-button::before {
  content: url(../../../../icons/delete_FILL0.svg);
  background-color: #fc6d6d;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  width: 1.4em;
  height: 1.4em;
  padding-top: 6px;
  right: -10px;
  bottom: 10px;
}

.experiences-card-info-button::after {
  content: url(../../../../icons/more_horiz_FILL0_wght300.svg);
  background-color: #9933ff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  width: 1.4em;
  height: 1.4em;
  padding-top: 6px;
  right: -10px;
  bottom: 40px;
}
