.video-player {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

.lecture-video-detail {
  gap: 50px;
  padding: 20px;
  width: 100%;
  height: 85px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 5px 5px 10px rgb(223, 223, 223);
}

.video-title {
  padding-bottom: 4%;
}

.detail-button {
  border-width: 1px;
  background-color: white;
  border-radius: 10px;
  border-color: #9933ff;
  color: #9933ff;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  scale: 1;
  transition: 0.5s;
}

.detail-button:hover {
  color: white;
  background-color: #9933ff;
  scale: 1.05;
  transition: 0.5s;
}
