.lecture-video {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.lecture-video-detail 
{
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 5px 0px 5px 5px rgb(223, 223, 223);
}
