

.edu-card {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    border: 3px solid transparent;
    background-color: #f1f1f1;
    box-shadow: 0 10px 15px 2px rgba(0,0,0,.27);
    height: 320px;
    width: 250px;
    transition: .5s;
    margin-bottom: 1em;
}

.edu-card:hover
{
    border-color: #9933ff;
}

.card-imgg {
    height: 181px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 14% 14% 0 0;

}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 181px);
    padding: 12px;
}

.apply-btn {
    padding: 0.5rem 3rem;
    background-color: #d9d9d9;
    text-align: center;
    color: #282828;
    border-radius: 2em;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    transition: .5s;
}


.apply-btn:hover
{
    color: #fff;
    background-color: #9933ff;
}


.card-content span {
    color: #515151;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-weight: bold;
}

.platform-course-date {
    font-size: 12px!important;
    color: #787878!important;
    font-weight: 500!important;
}