.lecture-video-header {
  padding: 4%;
  padding-left: 5%;
  cursor: pointer;
}

.lecture-video-header sub {
  font-weight: 600;
  color: gray;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.lecture-video-header {
  animation: fadeIn 0.6s ease-in-out;
}

.detail-button {
  border-width: 1px;
  background-color: white;
  border-radius: 10px;
  border-color: #9933ff;
  color: #9933ff;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
